<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leablogs.mapper.StudentCardMapper">
	<!--<resultMap type="com.leablogs.bean.StudentCard" id="studentCard">
		<id column="id" property="id" />
		<result column="studentId" property="studentId" />
		<result column="startDate" property="startDate" />
		<result column="endDate" property="endDate" />
		<collection property="student" ofType="com.leablogs.bean.Student" column="id">
			<id column="id" property="id"/>
		</collection>
	</resultMap>-->

	<select id="selectStuCardById" resultType="com.leablogs.bean.StudentCard">
		select * from studentcard where id=#{id}
	</select>

	<!--<select id="selectStuCardById1" resultType="com.leablogs.bean.StudentCard">
		select * from studentcard where id=#{id}
	</select>-->
</mapper>