<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leablogs.mapper.TestTwoMapper">
	<resultMap type="TestTwo" id="TestTwoOne">
		<result property="id" column="oneId" />
		<result property="nickname" column="twonickname" />
		<result property="oneId" column="one_id" />
		<association property="TestOne" column="one_id"
			javaType="TestOne">
			<id property="id" column="oneId" />
			<result property="nickname" column="onenickname" />
		</association>
	</resultMap>

	<select id="getTotalById" resultMap="TestTwoOne"
		parameterType="long">
		select one.id as oneid,one.nickname as
		onenickname,two.id as twoid,two.nickname as twonickname,two.one_id
		from test_one one,test_two two where one.id=two.one_id and
		two.id=#{value}
	</select>

</mapper>