<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leablogs.mapper.TestOneMapper">
	<resultMap type="TestOne" id="TestOneAll">
		<result property="id" column="oneId" />
		<result property="nickname" column="onenickname" />
		<collection property="testTwos" column="one_id"
			ofType="testTwo" javaType="ArrayList">
			<id property="id" column="oneId" />
			<result property="nickname" column="twonickname" />
			<result property="oneId" column="one_id" />
		</collection>
	</resultMap>

	<select id="getTotalById" resultMap="TestOneAll"
		parameterType="long">
		select one.id as oneid,one.nickname as
		onenickname,two.id as twoid,two.nickname as twonickname,two.one_id
		from test_one one,test_two two where one.id=two.one_id and
		one.id=#{value} order by twoid desc
	</select>


	<select id="selectOneByAgeId" resultType="TestOne"
		parameterType="TestOne">
		select * from test_one <!-- where age in -->
		<!-- <foreach collection="list" item="age" index="index" open="("
			separator="," close=")">
			#{age}
		</foreach> -->
	</select>

	<select id="selectOneByKey" resultType="TestOne"
		parameterType="String">
		<bind name="keyword" value="'%'+_keyword+'%'" />

		select * from test_one where nickname like #{keyword}
	</select>
	<select id="selectOneBykeyOr" resultType="TestOne">
		<choose>
			<when test="nickname">
				<bind name="nickname_" value="'%'+nickname+'%'" />
			</when>
			<otherwise>
				<bind name="nickname_" value="'%%'" />
			</otherwise>
		</choose>
		<choose>
			<when test="rank">
				<bind name="rank_" value="'%'+rank+'%'" />
			</when>
			<otherwise>
				<bind name="rank_" value="'%%'" />
			</otherwise>
		</choose>
		select * from test_one where 1=1
		<if test="nickname != null">
			and nickname like #{nickname_}
		</if>
		<if test="rank != null">
			and `rank` like #{rank_}
		</if>
	</select>

</mapper>