<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leablogs.mapper.UserMapper">
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />
	<resultMap type="com.leablogs.mapper.UserMapper" id="User">
		<id column="id" jdbcType="INTEGER" property="Id" />
		<result column="user_id" jdbcType="VARCHAR" property="userName" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<!--<association property="UserExt">
			<id column="userId" property="user_id" />
			<result column="userAddress" property="user_address" jdbcType="VARCHAR" />
			<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		</association>-->
	</resultMap>
	<sql id="base_column_list">
		user_id,user_name,password,email
	</sql>
	<select id="getByUserNameAndPassword" resultType="User">
		select
		<include refid="base_column_list" />
		from
		user where user_name=#{userName, jdbcType=VARCHAR} and
		password=#{password,jdbcType=VARCHAR}
	</select>
	<insert id="addUsers" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into
		user(user_id,user_name,password,email)
		values(#{userId},#{userName},#{password},#{email})
	</insert>
	<!-- <select id="getAllUsers" resultType="com.leablogs.User" parameterType="map"> 
		select <include refid="base_column_list" /> </select> -->
	<!--<select id="getUserAndExt">
		select * from user as u left join user_ext as ue on u.id=ue.user_id 
	</select>-->

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update course
			<set>
			name=${item.name}
			</set>
			where id=${item.id}
		</foreach>
	</update>
</mapper>