<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leablogs.mapper.UserExtMapper">
	<!-- <resultMap type="com.leablogs.mapper.UserExt" id="UserExt"> </resultMap> 
		<parameterMap type="" id=""></parameterMap> -->
	<insert id="addUserExt" parameterType="UserExt">
		insert into
		user_ext(user_id,user_address,mobile,sex)
		value(#{userId},#{userAddress},#{mobile},#{sex})

	</insert>
</mapper>